<h3><%= @user.name %> is requesting a meeting with you through TechConnect</h3>

<p>Name: <%= @user.name %></p>
<p>Bio: <%= @user.bio %></p>
<a href=<%=@user.github %>>Github Profile</a><br>
<a href=<%=@user.linkedin %>>LinkedIn Profile</a><br>

<form id="form1" action="<%= new_api_v1_user_message_url(user_id: @user.id, email: @connection.email, status: 'confirmed')%>" method="get">
  <div id="meeting_location">
      <p><b>Meeting Place Options:</b></p>
      <input type="radio" id="radio1" name="meeting_location" value="<%= @data[:meeting_1] %>">
      <label for="radio1"> <%= @data[:meeting_1] %></label><br>
      <input type="radio" id="radio2" name="meeting_location" value="<%= @data[:meeting_2] %>">
      <label for="radio2"><%= @data[:meeting_2] %></label><br>
      <input type="radio" id="radio3" name="meeting_location" value="<%= @data[:meeting_3] %>">
      <label for="radio3"><%= @data[:meeting_3] %></label><br>
  </div>
  <div id="meeting_date">
    <p><b>Meeting Time Options:</b></p>
    <input type="radio" id="radio1" name="meeting_date" value="<%= @data[:datetime_1] %>">
    <label for="radio1"> <%= @data[:datetime_1] %></label><br>
    <input type="radio" id="radio2" name="meeting_date" value="<%= @data[:datetime_2] %>">
    <label for="radio2"><%= @data[:datetime_2] %></label><br>
    <input type="radio" id="radio3" name="meeting_date" value="<%= @data[:datetime_3] %>">
    <label for="radio3"><%= @data[:datetime_3] %></label><br>
  </div>

  <div>
    <br><button type="submit" name="make-meeting">Make Meeting</button><br>

    <h4>If you are not interested or unavailable to connect at this time, please click on the Raincheck button instead.<h4>
    <button type="submit" name="rain-check">Rain Check</button><br>
  </div>
</form>
